Backend/LegacyOrder/.idea/.idea.LegacyOrder
Backend/LegacyOrder/__OriginalProject/obj
Backend/LegacyOrder/__OriginalProject/bin
Backend/LegacyOrder/Shared/MessagingLib/obj
Backend/LegacyOrder/Shared/RedisCache/bin
Backend/LegacyOrder/Shared/RedisCache/obj
Backend/LegacyOrder/API-Gateway/bin
Backend/LegacyOrder/API-Gateway/obj
Backend/LegacyOrder/Services/AuthService/Auth.API/bin
Backend/LegacyOrder/Services/AuthService/Auth.API/obj
Backend/LegacyOrder/Services/AuthService/Auth.Application/bin
Backend/LegacyOrder/Services/AuthService/Auth.Domain/bin
Backend/LegacyOrder/Services/AuthService/Auth.Infrastructure/bin
Backend/LegacyOrder/Services/AuthService/Auth.Application/obj
Backend/LegacyOrder/Services/AuthService/Auth.Domain/obj
Backend/LegacyOrder/Services/AuthService/Auth.Infrastructure/obj
Backend/LegacyOrder/Services/LogService/Log.Application/bin
Backend/LegacyOrder/Services/LogService/Log.Application/obj
Backend/LegacyOrder/Services/LogService/Log.Domain/obj
Backend/LegacyOrder/Services/LogService/Log.Infrastructure/bin
Backend/LegacyOrder/Services/LogService/Log.Infrastructure/obj
Backend/LegacyOrder/Services/LogService/Log.Worker/bin
Backend/LegacyOrder/Services/LogService/Log.Worker/obj
Backend/LegacyOrder/Services/ProductsService/Products.API/bin
Backend/LegacyOrder/Services/ProductsService/Products.API/obj
Backend/LegacyOrder/Services/ProductsService/Products.Application/bin
Backend/LegacyOrder/Services/ProductsService/Products.Domain/bin
Backend/LegacyOrder/Services/ProductsService/Products.Infrastructure/bin
Backend/LegacyOrder/Services/ProductsService/Products.Application/obj
Backend/LegacyOrder/Services/LogService/Log.Worker/logs
Backend/LegacyOrder/Services/ProductsService/Products.Domain/obj
Backend/LegacyOrder/Services/ProductsService/Products.Infrastructure/obj
