Backend/LegacyOrder/.idea/.idea.LegacyOrder
Backend/LegacyOrder/__OriginalProject/obj
Backend/LegacyOrder/__OriginalProject/bin
Backend/LegacyOrder/Shared/MessagingLib/obj
Backend/LegacyOrder/Shared/RedisCache/bin
Backend/LegacyOrder/Shared/RedisCache/obj
Backend/LegacyOrder/API-Gateway/bin
Backend/LegacyOrder/API-Gateway/obj
